*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/deploymentTargetDropDown.xml
/.idea/dictionaries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.dart_tool/
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
